@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page-trans-enter-active {
    animation: fade-in 1s ease-out;
}

.page-trans-leave-active {
    animation: fade-out 400ms ease-out;
}
